In [4]:
import pandas as pd

In [7]:
ds = pd.read_csv("C:/Users/gagan/Desktop/Python/ML/Pandas/vgsales.csv")

In [8]:
ds.head() #top 5 data

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [9]:
ds.tail() #last 5 data

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.0,0.0,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.0,0.0,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.0,0.0,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.0,0.0,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.0,0.0,0.01

In [11]:
ds.dtypes

Rank              int64
Name             object
Platform         object
Year            float64
Genre            object
Publisher        object
NA_Sales        float64
EU_Sales        float64
JP_Sales        float64
Other_Sales     float64
Global_Sales    float64
dtype: object

In [12]:
#average vs mean
#data = 8,9,5,7,0,1
#average = 8+9+5+7+1/5 = 6
#mean = 8+9+5+7+0+1/6 = 5

In [14]:
ds.describe() # to get count,mean,std,min,max,percentage

,Rank,Year,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
count,16598.000000,16327.000000,16598.000000,16598.000000,16598.000000,16598.000000,16598.000000
mean,8300.605254,2006.406443,0.264667,0.146652,0.077782,0.048063,0.537441
std,4791.853933,5.828981,0.816683,0.505351,0.309291,0.188588,1.555028
min,1.000000,1980.000000,0.000000,0.000000,0.000000,0.000000,0.010000
25%,4151.250000,2003.000000,0.000000,0.000000,0.000000,0.000000,0.060000
50%,8300.500000,2007.000000,0.080000,0.020000,0.000000,0.010000,0.170000
75%,12449.750000,2010.000000,0.240000,0.110000,0.040000,0.040000,0.470000
max,16600.000000,2020.000000,41.490000,29.020000,10.220000,10.570000,82.740000

In [17]:
ds1 = ds[['Rank','Name','Platform','Year','Genre','Publisher']] #trimming dataset

In [18]:
ds1.head(20)

,Rank,Name,Platform,Year,Genre,Publisher
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo
5,6,Tetris,GB,1989.0,Puzzle,Nintendo
6,7,New Super Mario Bros.,DS,2006.0,Platform,Nintendo
7,8,Wii Play,Wii,2006.0,Misc,Nintendo
8,9,New Super Mario Bros. Wii,Wii,2009.0,Platform,Nintendo
9,10,Duck Hunt,NES,1984.0,Shooter,Nintendo
10,11,Nintendogs,DS,2005.0,Simulation,Nintendo
11,12,Mario Kart DS,DS,2005.0,Racing,Nintendo
12,13,Pokemon Gold/Pokemon Silver,GB,1999.0,Role-Playing,Nintendo
13,14,Wii Fit,Wii,2007.0,Sports,Nintendo
14,15,Wii Fit Plus,Wii,2009.0,Sports,Nintendo
15,16,Kinect Adventures!,X360,2010.0,Misc,Microsoft Game Studios
16,17,Grand Theft Auto V,PS3,2013.0,Action,Take-Two Interactive
17,18,Grand Theft Auto: San Andreas,PS2,2004.0,Action,Take-Two Interactive
18,19,Super Mario World,SNES,1990.0,Platform,Nintendo
19,20,Brain Age: Train Your Brain in Minutes a Day,DS,2005.0,Misc,Nintendo

In [19]:
ds1[['Name']][20:40]

                                           Name
20                Pokemon Diamond/Pokemon Pearl
21                             Super Mario Land
22                          Super Mario Bros. 3
23                           Grand Theft Auto V
24                  Grand Theft Auto: Vice City
25                Pokemon Ruby/Pokemon Sapphire
26                  Pokemon Black/Pokemon White
27  Brain Age 2: More Training in Minutes a Day
28                       Gran Turismo 3: A-Spec
29               Call of Duty: Modern Warfare 3
30      Pokémon Yellow: Special Pikachu Edition
31                      Call of Duty: Black Ops
32                          Pokemon X/Pokemon Y
33                    Call of Duty: Black Ops 3
34                   Call of Duty: Black Ops II
35                   Call of Duty: Black Ops II
36               Call of Duty: Modern Warfare 2
37               Call of Duty: Modern Warfare 3
38                         Grand Theft Auto III
39                      Super Smash Bros. Brawl

In [21]:
ds.insert(loc= 11, column = 'Award', value=0)

In [22]:
ds

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Award
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74,0
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,0
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82,0
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00,0
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,0
...,...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01,0
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01,0
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01,0
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01,0
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01,0

In [23]:
ds['Name']

0                                              Wii Sports
1                                       Super Mario Bros.
2                                          Mario Kart Wii
3                                       Wii Sports Resort
4                                Pokemon Red/Pokemon Blue
                               ...
16593                  Woody Woodpecker in Crazy Castle 5
16594                       Men in Black II: Alien Escape
16595    SCORE International Baja 1000: The Official Game
16596                                          Know How 2
16597                                    Spirits & Spells
Name: Name, Length: 16598, dtype: object

In [24]:
type(ds1)

pandas.core.frame.DataFrame

# Dictionary to dataframe

In [26]:
d = {
    "even" : [0,2,4,6,8],
    "odd" : [1,3,5,7,9],
    "prime" : [1,2,3,5,7]
}

print(d)

{'even': [0, 2, 4, 6, 8], 'odd': [1, 3, 5, 7, 9], 'prime': [1, 2, 3, 5, 7]}

In [27]:
pd.DataFrame(d)

   even  odd  prime
0     0    1      1
1     2    3      2
2     4    5      3
3     6    7      5
4     8    9      7

In [28]:
ds1

,Rank,Name,Platform,Year,Genre,Publisher
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo
...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo

In [34]:
pd.options.mode.copy_on_write = True

In [35]:
ds1.dropna(inplace = True) # to drop NaN value

In [36]:
ds1

,Rank,Name,Platform,Year,Genre,Publisher
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo
...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo